<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8">
<title>bookHome</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<h3 style="text-align: center;">도서대여관리 프로그램</h3>
<span>국제 대여점의 도서등록, 대여정보 데이터베이스를 구축하고, 도서.DVD 대여관리를 위한 프로그램이다.</span>
</div>

</body>
</html>