<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
<script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>

  </head>
  
  <body>
  <div layout:fragment="content">
    <h1>게시글 상세보기</h1>
    <div class="container-sm">
	<div class="card border-secondary mb-2">
	  <div class="card-body">
		  <div class="row mb-2 border-bottom">
		    <div class="col-2">게시글 번호</div>
		    <div class="col-10  fw-bold" th:text="${board.bno}"></div>
		  </div>
		  <div class="row mb-2 border-bottom">
		    <div class="col-2">제목</div>
		    <div class="col-10  fw-bold" th:text="${board.title}"></div>
		  </div>
		  <div class="row mb-2 border-bottom">
		    <div class="col-2">내용</div>
		    <div class="col-10  fw-bold" th:text="${board.content}"></div>
		  </div>
		  <div class="row mb-2 border-bottom">
		    <div class="col-2">작성자</div>
		    <div class="col-10  fw-bold" th:text="${board.writer}"></div>
		  </div>				
		  <div class="row mb-2 border-bottom">
		    <div class="col-2">작성일</div>
		    <div class="col-10 fw-bold" th:text="${#dates.format(board.regdate, 'yyyy/MM/dd')}">2010/10</div>
		  </div>
	  </div>
	</div>
	<div>	  
	  <button type="button" class="btn btn-danger"><a th:href="@{/board/delete/{id}(id=${board.bno})}" class="link-light link-offset-2 link-underline-opacity-0">삭제</a></button>
	</div>
</div>
    <form id="frm">
      <input id="newReply" />
      <input id="newReplyer" />
      <button type="button" id="btnsave">등록</button>
    </form>
    <div id="reply"></div>

  <script th:inline="javascript">
    const bno = [[${board.bno}]];
    fetch(`/api/board/${bno}/reply`)
      .then((response) => response.json())
      .then((json) => {
        console.log(json);
        json.forEach((elem) => {
          $("#reply").append(
            `<div><button data-id="${elem.rno}" type="button" id="btnDel">x</button>
                  reply : ${elem.reply}, 
                  replyer : ${elem.replyer}, 
                  replydate : ${elem.replydate}
            </div>`,
          );
        });
      });
    
    // 삭제
    $("#reply").on("click", "#btnDel", (e) => {
    	let rno = $(e.target).data("id");
    	 fetch(`/api/reply/${rno}`, {
             method: "DELETE",
           })
         .then((res) => res.json())
         .then(() => {
        	 $(e.target).parent().remove();
         })
    })
    
    // 등록
    $("#btnsave").on("click",(e) => {
    	fetch(`/api/reply`, {
            method: "POST",
            body: JSON.stringify({
            	bno: bno,
            	reply: $("#newReply").val(),
            	replyer: $("#newReplyer").val()
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
          })
            .then((response) => response.json())
            .then((json) => {
              console.log(json);
              $("#reply").append(
                `<div><button data-id="${json.rno}" type="button" id="btnDel">x</button>reply : ${json.reply}, 
                  replyer : ${json.replyer}, 
                  replydate : ${json.replydate}</div>`
              );
            });
    })
  </script>
    </div>
  </body>
</html>
