<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8">
<title>register.html</title>

</head>
<body>
<div layout:fragment="content">
	<h1>게시글 등록/수정</h1>
	<div class="container-sm">
		<div class="card border-secondary" th:object="${board}">
		<form method="post">
		  <div class="card-body">
			  <div class="row mb-2 border-bottom">
			    <div class="col-2">제목</div>
			    <div class="col-10  fw-bold"><input th:field="*{title}"></div>
			  </div>
			  <div class="row mb-2 border-bottom">
			    <div class="col-2">내용</div>
			    <div class="col-10  fw-bold"><input th:field="*{content}"></div>
			  </div>
			  <div class="row mb-2 border-bottom">
			    <div class="col-2">작성자</div>
			    <div class="col-10  fw-bold"><input th:field="*{writer}"></div>
			  </div>
		  </div>  
		<div>
		  <button type="submit" class="btn btn-primary">저장</button>
		  <button type="button" class="btn btn-danger"><a href="/board/list" class="link-light link-offset-2 link-underline-opacity-0">취소</a></button>
		</div>
		</form>
		</div>
	</div>  
</div>
</body>
</html>