<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.book.service.impl.BookMapper">
  <sql id="book">
    book_no,
    book_name,
    book_coverimg,
    book_date,
    book_price,
    book_publisher,
    book_info
  </sql>
  
  <insert id="insert">
  <selectKey keyProperty="bookNo" resultType="Integer" order="BEFORE">
    SELECT book_seq.nextval
    FROM dual
  </selectKey>
    INSERT INTO book_tbl_06(
                            <include refid="book"></include>)
    VALUES(#{bookNo},
           #{bookName},
           #{bookCoverimg},
           #{bookDate},
           #{bookPrice},
           #{bookPublisher},
           #{bookInfo}           
    )
  </insert>

  <select id="findAll">
    SELECT
    <include refid="book"></include>
    FROM book_tbl_06 
  </select>
  
  <select id="findAllRent">
    select r.book_no, b.book_name, sum(r.rent_price) rent_price, count(r.book_no) rent_status
    from book_tbl_06 b
    join RENT_TBL_06 r on b.book_no = r.book_no
    group by r.book_no, b.book_name 
  </select>
</mapper>